label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-secondary);
}

input {
  padding: 8px;
  border: 1px solid var(--color-secondary-light);
  border-radius: 4px;
}

.error {
  border-color: var(--color-error);
}
